.landingWrapper {
    height: 55vh;
    background-image: url(../../assets/wln-background.png);
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    color: #129d90;
    padding-left: 5%;
}

.landingWrapper h1 {
    font-size: 100px;
    font-weight: 300;
    letter-spacing: 4px;
    margin-top: -10px;
}

.landingWrapper h2 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    margin-top: 2%;
}

.logo {
    width: 15%;
    padding-top: 6%;
}

@media screen and (max-width: 1400px) {
    .landingWrapper {
        height: 50vh;
    }
}

@media screen and (max-width: 1100px) {
    .landingWrapper {
        height: 45vh;
    }
}

@media screen and (max-width: 800px) {
    .landingWrapper {
        height: 30vh;
    }
    .landingWrapper h1 {
        font-size: 60px;
    }
    
    .landingWrapper h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 550px) {
    .landingWrapper {
        height: 25vh;
    }
    .landingWrapper h1 {
        font-size: 32px;
        margin-top: 1%;
    }
    .landingWrapper h2 {
        font-size: 20px;
        margin-top: 4%;
    }
    .logo {
        width: 30%;
    }
}