.organizationsWrapper {
    font-family: 'Oswald', sans-serif;
    color: #18b0c4;
    text-align: center;
    padding: 4% 6%;
}

.organizationsWrapper h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 4px;
}

.organizationsWrapper hr {
    width: 8%;
    border: 2px solid #18b0c4;
}

.organizationsWrapper p {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    margin-top: 4%;
}

.organizationsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

.organization {
    width: 30%;
}

.organization h3{
    font-size: 28px;
    margin-top: 4%;
    color: #18b0c4;
}

.logo{
    width: 80%;
    transition: transform 1s;
}

.logo:hover {
    transform: scale(1.1)
}

@media screen and (max-width: 800px) {
    .organizationsWrapper h1 {
        font-size: 48px;
    }
    .organization h3{
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .organizationsWrapper {
        padding: 8% 6%;
    }
    .organizationsWrapper h1 {
        font-size: 32px;
    }
    .organizationsWrapper hr {
        width: 15%;
    }
    .organizationsWrapper p {
        font-size: 18px;
        line-height: 24px;
    }
    .organization h3{
        font-size: 16px;
    }
}