.howItWorksWrapper {
    font-family: 'Oswald', sans-serif;
    padding: 4% 6%;
}

.howItWorksWrapper h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    color: #2aa7df;
    text-align: center;
}

.howItWorksWrapper hr {
    width: 8%;
    border: 2px solid #2aa7df;
}

.iconWrapper {
    width: 100%;
    margin: 4% auto 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.iconWrapper p{
    font-size: 14px;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    margin-top: 4%;
}

.icon {
    width: 40%;
    display: block;
    margin: auto;
}

.registerWrapper, .raffleWrapper, .bidWrapper {
    width: 40%;
    margin-right: 3%;
}

.learnWrapper {
    width: 40%;
}

.registerWrapper h3{
    font-size: 32px;
    margin-top: 2%;
    color: #18b0c4;
}

.registerWrapper a {
    text-decoration: none;
    color: #18b0c4;
}

.raffleWrapper h3{
    font-size: 32px;
    margin-top: 2%;
    color: #129d90;
}

.bidWrapper h3{
    font-size: 32px;
    margin-top: 2%;
    color: #ead72a;
}

.learnWrapper h3{
    font-size: 32px;
    margin-top: 2%;
    color: #2aa7df;
}

.moreInfoWrapper {
    width: 100%;
}

.moreInfoWrapper h2{
    font-size: 32px;
    color: #2aa7df;
}

.moreInfoWrapper h3{
    font-size: 28px;
    color: #2aa7df;
}

.moreInfoWrapper ul {
    margin-top: 1%;
}

.moreInfoWrapper ul li{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #222222;
    line-height: 32px;
}

.moreInfoWrapper hr {
    border: 0.75px solid #2aa7df;
    width: 100%;
    margin: 2% 0;
}

@media screen and (max-width: 800px) {
    .howItWorksWrapper h1 {
        font-size: 48px;
    }
    .iconWrapper {
        display: block;
    }
    .iconWrapper p {
        font-size: 14px;
        line-height: 30px;
    }
    .registerWrapper h3, .raffleWrapper h3, .learnWrapper h3, .bidWrapper h3 {
        font-size: 24px;
    }
    .registerWrapper, .raffleWrapper {
        width: 47%;
        height: 220px;
        float: left;
    }
    .learnWrapper, .bidWrapper {
        width: 47%;
        height: 220px;
        margin-right: 0;
        float: left;
    }
    .icon {
        width: 20%;
    }
    .moreInfoWrapper {
        clear: both;
    }
    .moreInfoWrapper h2{
        font-size: 28px;
        padding-top: 1%;
    }
    .moreInfoWrapper h3{
        font-size: 24px;
    }
    .moreInfoWrapper ul li{
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .howItWorksWrapper {
        padding: 8% 6%;
    }
    .howItWorksWrapper h1 {
        font-size: 36px;
    }
    .howItWorksWrapper hr {
        width: 15%;
    }
    .moreInfoWrapper hr {
        border: 0.75px solid #2aa7df;
        width: 100%;
        margin: 2% 0;
    }
    .registerWrapper h3, .raffleWrapper h3, .learnWrapper h3, .bidWrapper h3 {
        font-size: 20px;
    }
    .registerWrapper, .raffleWrapper, .learnWrapper, .bidWrapper {
        width: 100%;
        height: auto;
        float: none;
    }
    .moreInfoWrapper h2{
        font-size: 24px;
    }
    .moreInfoWrapper h3{
        font-size: 20px;
    }
    .moreInfoWrapper ul li{
        font-size: 14px;
    }
}