.donorsWrapper {
    display: block;
    overflow: auto;
    font-family: 'Oswald', sans-serif;
    background-color: #18b0c4;
    text-align: center;
    padding: 4% 6%;
}

.donorsWrapper h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    color: white;
}

.donorsWrapper hr {
    width: 8%;
    border: 2px solid white;
}

.itemWrapper {
    margin-top: 4%;
}

.item {
    width: 100%;
    transition: transform 1s;
}

.item:hover {
    transform: scale(1.05)
}

.itemImg {
    width: 200px;
    height: 200px;
    float: left;
    margin-bottom: 2%;
}

.itemDescriptionL, .itemDescriptionR {
    width: 32%;
    height: 200px;
    float: left;
    background-color: rgba(255,255,255,0.1);
    padding: 1.5% 2% 0;
    color: white;
}

.itemDescriptionL {
    margin-right: 2%;
}

.itemDescriptionL h3, .itemDescriptionR h3 {
    font-size: 28px;
    margin-bottom: 2%;
}

.itemDescriptionL h3 a, .itemDescriptionR h3 a {
    text-decoration: none;
    color: white;
}

.itemDescriptionL p, .itemDescriptionR p {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}