.donorsWrapper {
    display: block;
    overflow: auto;
    font-family: 'Oswald', sans-serif;
    background-color: #18b0c4;
    text-align: center;
    padding: 4% 6%;
}

.donorsWrapper h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    color: white;
}

.donorsWrapper h2 {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    margin-top: 4%;
    color: white;
}

.donorsWrapper h4 {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    color: white;
}

.donorsWrapper hr {
    width: 8%;
    border: 2px solid white;
}

.itemWrapper {
    margin-top: 4%;
}

.item {
    width: 100%;
}

.itemImg {
    width: 200px;
    height: 200px;
    float: left;
    margin-bottom: 2%;
}

.itemDescriptionL, .itemDescriptionR {
    width: 35.3%;
    height: 200px;
    float: left;
    background-color: rgba(255,255,255,0.1);
    padding: 1%;
    color: white;
}

.itemDescriptionL {
    margin-right: 2%;
}

.itemDescriptionL h3, .itemDescriptionR h3 {
    font-size: 28px;
    margin-bottom: 2%;
}

.itemDescriptionL h3 a, .itemDescriptionR h3 a {
    text-decoration: none;
    color: white;
    transition: ease 1s;
}

.itemDescriptionL h3 a:hover, .itemDescriptionR h3 a:hover {
    text-decoration: none;
    color: #e6e515;;
}

.itemDescriptionL p, .itemDescriptionR p {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

@media screen and (max-width: 1670px) {
    .itemDescriptionL, .itemDescriptionR {
        width: 35%;
    }
}

@media screen and (max-width: 1625px) {
    .itemDescriptionL, .itemDescriptionR {
        width: 34.5%;
    }
}

@media screen and (max-width: 1570px) {
    .itemDescriptionL, .itemDescriptionR {
        width: 82%;
        height: 180px;
        margin: 0 0 2% 0;
        padding: 2%;
    }
    .itemImg {
        width: 180px;
        height: 180px;
        margin-bottom: 2%;
    }
    .itemDescriptionL p, .itemDescriptionR p {
        font-size: 15px;
    }
    .itemDescriptionL h3, .itemDescriptionR h3 {
        font-size: 28px;
    }
}

@media screen and (max-width: 1200px) {
    .itemDescriptionL, .itemDescriptionR {
        margin: 0 0 4% 0;
    }
    .itemImg {
        margin-bottom: 4%;
    }
    .itemDescriptionL p, .itemDescriptionR p {
        font-size: 13px;
    }
    .itemDescriptionL h3, .itemDescriptionR h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1145px) {
    .itemDescriptionL, .itemDescriptionR {
        width: 80%;
    }
}

@media screen and (max-width: 1080px) {
    .itemDescriptionL, .itemDescriptionR {
        width: 78%;
    }
}

@media screen and (max-width: 940px) {
    .itemDescriptionL, .itemDescriptionR {
        width: 76%;
    }
}

@media screen and (max-width: 860px) {
    .itemDescriptionL, .itemDescriptionR {
        width: 74%;
    }
}

@media screen and (max-width: 790px) {
    .itemDescriptionL, .itemDescriptionR {
        width: 72%;
    }
    .donorsWrapper h1 {
        font-size: 48px;
    }
    .donorsWrapper h4 {
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {
    .itemDescriptionL, .itemDescriptionR {
        width: 100%;
        height: auto;
        clear: both;
        margin: 0 0 6% 0;
        padding: 4% 4% 0 4%;
    }
    .itemDescriptionL h3, .itemDescriptionR h3 {
        margin-bottom: 2%;
    }
    .itemImg {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .donorsWrapper {
        padding: 8% 6%;
    }
    .donorsWrapper h1 {
        font-size: 32px;
        margin-top: 1%;
    }
    .donorsWrapper hr {
        width: 15%;
    }
    .donorsWrapper h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10%;
    }
    .itemDescriptionL h3, .itemDescriptionR h3 {
        margin-bottom: 4%;
    }
    .itemDescriptionL, .itemDescriptionR {
        padding: 8%;
    }
    .donorsWrapper h4 {
        font-size: 14px;
    }
}