.donorsWrapper {
    font-family: 'Oswald', sans-serif;
    background-color: #72cada;
    text-align: center;
    padding: 4% 8%;
}

.donorsWrapper h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    color: white;
}

.donorsWrapper hr {
    width: 8%;
    border: 2px solid white;
}

.carouselWrapper {
    margin-top: 4%;
}

.carouselWrapper ol li {
    background-color: #2aa7df;
    border-radius: 5px;
}

.itemWrapper {
    width: 800px !important;
    height: 400px;
    margin-left: 22% !important;
}

.itemImg {
    width: 400px;
    height: 400px;
    float: left;
}

.itemDescription {
    width: 400px;
    height: 400px;
    float: left;
    background-color: rgba(255,255,255,0.2);
    padding: 6% 4% 0;
    color: white;
}

.itemDescription h3 {
    font-size: 32px;
    margin-bottom: 3%;
}

.itemDescription h3 a {
    text-decoration: none;
    color: white;
    transition: ease 0.5s;
}

.itemDescription h3 a:hover {
    color: #2aa7df;
}

.itemDescription p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}