.overviewWrapper {
    background-color: #129d90;
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: 4% 6%;
}

.overviewWrapper h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
}

.overviewWrapper hr {
    width: 8%;
    border: 2px solid white;
}

.overviewWrapper p {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    line-height: 48px;
    margin-top: 4%;
}


@media screen and (max-width: 800px) {
    .overviewWrapper h1 {
        font-size: 48px;
    }
    .overviewWrapper p {
        font-size: 18px;
        line-height: 30px;
    }
}

@media screen and (max-width: 500px) {
    .overviewWrapper {
        padding: 8% 6%;
    }
    .overviewWrapper h1 {
        font-size: 36px;
    }
    .overviewWrapper p {
        font-size: 14px;
        line-height: 24px;
    }
    .overviewWrapper hr {
        width: 15%;
    }
}